body {
  background-repeat: no-repeat;
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", "Poppins";
  display: flex;
  flex-direction: column;
}

header {
  margin: 45px 0 70px 60px;
}

header img {
  max-width: 200px;
}

main {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Poppins", "Open Sans";
  font-size: 41px;
  font-weight: 600;
}

p {
  font-weight: 400;
  line-height: 160%;
  font-size: 18px;
}

button {
  background-color: white;
  border: none;
  color: hsl(257, 40%, 49%);
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Poppins", "Open Sans";
  font-weight: 600;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 50px 0 0;
}

footer i {
  color: white;
  margin-right: 5px;
  display: inline-block;
  border-radius: 60px;
  border: solid 1px white;
  padding: 0.5em 0.6em;
}

button:hover {
  color: white;
  background-color: hsl(300, 69%, 71%);
  transition: 0.3s ease-in-out;
}

i:hover {
  color: hsl(300, 69%, 71%);
  border: solid 1px hsl(300, 69%, 71%);
  transition: 0.3s ease-in-out;
}

.text-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  width: 510px;
  margin-left: 50px;
}

@media (max-width: 375px) {
  body {
    background-size: 100%;
    background-image: url(./images/bg-mobile.svg);
  }

  header {
    margin: 15px 0 60px 25px;
  }

  header img {
    max-width: 140px;
  }

  main {
    flex-direction: column;
    margin-left: 20px;
  }

  .img-illu {
    max-width: 300px;
    margin: 0 0 50px 10px;
  }

  h1 {
    font-family: "Poppins", "Open Sans";
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .text-container {
    width: 300px;
    margin-left: 0px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  button {
    padding: 10px 75px;
  }

  footer {
    display: flex;
    justify-content: center;
    margin: 65px 0 0 0;
  }
}
