body {
  background-repeat: no-repeat;
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  font-family: "Open Sans", "Poppins";
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

header {
  margin: 40px 0 70px 50px;
}

main {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Poppins", "Open Sans";
  font-size: 41px;
  font-weight: 600;
}

p {
  font-weight: 400;
}

button {
  color: hsl(300, 69%, 71%);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 50px 20px 0;
}

footer i {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  border: solid 1px white;
  padding: 0.3em 0.4em;
}

i:hover {
  color: hsl(300, 69%, 71%);
  border: solid 1px hsl(300, 69%, 71%);
  transition: 0.3s ease-in-out;
}

.img-illu {
}

.img-logo {
}

.text-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  width: 550px;
  margin-left: 50px;
}
